on:
  workflow_call:
    inputs:
      architecture:
        type: string
        description: "CPU architecture targeted by the build."
        required: true
      runner:
        type: string
        required: true
      ffmpeg-version:
        type: string
        required: true
env:
  LAME_VER: "3.100"
  
jobs:
  build:
    name: "macOS-${{ inputs.architecture }}"
    runs-on: ${{ inputs.runner }}
    steps:
    
      - name: Install Dependencies
        run: brew install automake yasm nasm libtool
        
      - uses: actions/checkout@v6
      
      - name: Build LAME
        working-directory: ./src
        run: |
          ARCH=${{ inputs.architecture }}
          if [ $ARCH = "arm64" ]; then
            LAME_ARCH=arm
          elif [ $ARCH = "x64" ]; then
            LAME_ARCH="x86_64"
          else
            LAME_ARCH=$ARCH
          fi
          
          LAME_NAME="lame-${{ env.LAME_VER }}"
          curl -k -o $LAME_NAME.tar.gz -L0 $URL "https://cfhcable.dl.sourceforge.net/project/lame/lame/${{ env.LAME_VER }}/$LAME_NAME.tar.gz"
          echo "Extracting $LAME_NAME.tar.gz"
          tar -xf ./$LAME_NAME.tar.gz
          rm $LAME_NAME.tar.gz
          cd $LAME_NAME
          ./configure --disable-decoder --disable-frontend --host="$LAME_ARCH" --prefix=$HOME/local
          make -j$(sysctl -n hw.physicalcpu) CFLAGS='-fPIC -O3' CPPFLAGS="-DNDEBUG"
          make install
          
      - name: Build LibFDK
        working-directory: ./src
        run: |
          FDK_NAME=fdk-aac-master
          curl -k -o $FDK_NAME.zip -L0 $URL "https://github.com/mstorsjo/fdk-aac/archive/refs/heads/master.zip"
          echo "Extracting $FDK_NAME.zip"
          unzip -q -o ./$FDK_NAME.zip
          rm $FDK_NAME.zip
          echo "Building $FDK_NAME"
          cd $FDK_NAME
          ./autogen.sh
          ./configure --enable-shared=no --enable-static=yes --prefix=$HOME/local
          make -j$(sysctl -n hw.physicalcpu) CFLAGS="-g0 -fPIC -O2 -Werror -Wno-deprecated-declarations" CXXFLAGS="-g0 -fPIC -O2 -Werror -Wno-deprecated-declarations"
          make install
          
      - name: Build FFMpeg
        id: ffmpeg
        working-directory: ./src
        run: |
          FFMPEG_NAME="ffmpeg-${{ inputs.ffmpeg-version }}"
          FFMPEG_MAIN=$(pwd)/$FFMPEG_NAME
          curl -k -o $FFMPEG_NAME.tar.xz -L0 $URL "https://ffmpeg.org/releases/$FFMPEG_NAME.tar.xz"
          echo "Extracting $FFMPEG_NAME.tar.xz"
          tar -xf ./$FFMPEG_NAME.tar.xz
          rm $FFMPEG_NAME.tar.xz
          echo "Building $FFMPEG_NAME"
          cd $FFMPEG_MAIN
          export PKG_CONFIG_PATH=$HOME/local/lib/pkgconfig
          ./configure --extra-ldflags="-L$HOME/local/lib" --disable-swscale --disable-avdevice --disable-doc --disable-v4l2-m2m --disable-vaapi --disable-vdpau --disable-network --disable-libxcb --disable-libxcb-xfixes --disable-libxcb-shape --disable-zlib --disable-iconv --disable-alsa --disable-shared --enable-static --disable-doc --disable-symver --disable-programs --disable-debug --enable-pic --disable-everything --enable-decoder=pcm_f32le --enable-decoder=pcm_s16le --enable-encoder=pcm_f32le --enable-encoder=pcm_s16le --enable-demuxer=pcm_f32le --enable-demuxer=pcm_s16le --enable-muxer=pcm_f32le --enable-muxer=pcm_s16le --enable-filter=aresample --enable-filter=asetnsamples --enable-libfdk_aac --enable-nonfree --enable-decoder=libfdk_aac --enable-encoder=libfdk_aac --enable-decoder=eac3 --enable-libmp3lame --enable-encoder=libmp3lame --disable-pthreads
          make -j$(sysctl -n hw.physicalcpu)
          echo "FFMPEG_MAIN=${FFMPEG_MAIN}" >> "${GITHUB_OUTPUT}"

      - name: Build libAAXCleanNative
        working-directory: ./src
        run: |
          DEST_DIR=runtimes/osx-${{ inputs.architecture }}/native
          mkdir -p $DEST_DIR
          FFMPEG_MAIN=${{ steps.ffmpeg.outputs.FFMPEG_MAIN }}
          cd ffmpegaac
          
          gcc -fPIC -v -c AacDecoder.c -c AacEncoder.c -I$FFMPEG_MAIN -I./
          gcc -dynamiclib -shared -static -fPIC -Wl,-v -o libaaxcleannative.dylib AacEncoder.o AacDecoder.o -L$FFMPEG_MAIN/libavutil -L$FFMPEG_MAIN/libswscale -L$FFMPEG_MAIN/libswresample -L$FFMPEG_MAIN/libavcodec -L$FFMPEG_MAIN/libavformat -L$FFMPEG_MAIN/libavfilter -L$FFMPEG_MAIN/libavdevice -L$HOME/local/lib -lc -lavfilter -lswresample -lavformat -lavcodec -lavutil -lfdk-aac -lmp3lame -lm -framework VideoToolbox -framework CoreFoundation -framework CoreMedia -framework CoreVideo -framework CoreServices
          
          mv libaaxcleannative.dylib ../$DEST_DIR/
      
      - name: Bundle Artifacts
        id: bundle
        working-directory: ./src
        run: |
          ARTIFACT=native_osx-${{ inputs.architecture }}.tar.gz
          tar -cz -f $ARTIFACT runtimes
          echo "artifact=${ARTIFACT}" >> "${GITHUB_OUTPUT}"
        
      - name: Upload library
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./src/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7
