name: validate

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
        
  build:
    uses: ./.github/workflows/build.yml
    with:
      project_file: ./src/AAXClean.Codecs/AAXClean.Codecs.csproj
      nuspec_file: ./AAXClean.Codecs.nuspec
    secrets:
      nuget_token: ${{ secrets.NUGET_API_KEY }}
